.container {
  background: linear-gradient(135deg, #74b9ff, #0984e3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  width: 380px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 28px;
}

.form-input {
  margin-bottom: 20px;
  /* display: flex; */
  /* align-items: center; */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #0984e3;
  box-shadow: 0 0 5px rgba(9, 132, 227, 0.3);
}

.btn {
  width: 100%;
  padding: 12px;
  background: #0984e3;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #0a6adf;
}

.register-btn {
  text-align: center;
  margin-top: 15px;
}

.register-btn a {
  color: #0984e3;
  text-decoration: none;
  font-weight: 500;
}

.register-btn a:hover{
     text-decoration: underline;
}

@media (max-width: 420px) {
  .login-container {
    width: 90%;
    padding: 25px;
  }
}

